{% extends "base.html" %}
{% load static  %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="notes_list_heading text-center mb-5">
            <h1 class="fs-4">Create your notes here:</h1><br>
            <a href="{% url 'notes.new' %}" class="btn btn-dark bg-sark ">Create now!</a>
        </div>
    </div>
</div>

<div class="row">
    {% for note in notes %}
    <div class="col-md-4">
        <div class="card mb-5">
            <div class="card-header">{{note.title}}</div>
            <div class="card-body">
                <p>{{note.text|truncatechars:10}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'notes.detail' pk=note.id  %}" class="btn btn-info btn-sm">View note</a>
            </div>
        </div>    
    </div>
    {% endfor %}
</div>
   

{% endblock  %}

